@import '../../../scss/colors';

.loginForm {
  border: 1px solid $black;
  width: 300px;
  height: 300px;
  padding: 20px;
}

.fields {
  border: 1px solid $dust-gray;
  margin: 10px;
  width: 100%;
}

.buttonSubmit {
  font-size: 16px;
  padding: 14px 40px;
  border: 1px solid $green;
  background-color: $light-green;
}
