@import 'colors';
@import 'fonts';
@import 'sizes';
@mixin card-size {
    width: 200px;
    height: 300px;
}

.main-container {
    padding: 50px;
}

.tc-container {
    display: flex;
    margin-left: 100px;
}

.tech-name, .tech-release, .tech-info { margin: 5px; }

.tech-card {
    align-items: center;
    background-color: $green;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin: 40px 20px;
    padding: 10px;
    position: relative;
    @include card-size();

    &::after {
        content: '';
        position: absolute;
        border: solid 1px $green;
        border-radius: 8px;
        top: -10px;
        left: -10px;
        z-index: -1;
        @include card-size();
    }

    &:hover:after{
        content: '';
        position: absolute;
        border: solid 1px $green;
        border-radius: 8px;
        top: 10px;
        left: 10px;
        transition: 0.5s;
    }

    .tech-logo {
        width: $tech-logo-size;
        height: $tech-logo-size;
        margin-bottom: 10px;
    }

    .tech-name {
        font-size: $text-medium;
    }

    .tech-release {
        font-weight: bold;
    }

    .tech-info {
        text-align: center;
        font-size: $text-small;
    }
}
