@import 'colors';
@import 'fonts';

.tech-card{
    align-items: center;
    background-color: $green;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 300px;
    margin: 40px 20px;
    padding: 15px 10px 10px 10px;
    width: 200px;
    position: relative;
    
    &::after{
        width: 200px;
        height: 289px;
        content: '';
        position: absolute;
        border: solid 1px $green;
        border-radius: 8px;
        top: -11px;
        left: -11px;
        z-index: -1;
    }

    .tech-logo{
        width: 100px;
        margin-bottom: 10px;
    }

    .tech-name{
        font-size: $text-medium;
        margin: 5px;
    }

    .tech-release{
        margin: 5px;
        font-weight: bold;
    }

    .tech-info{
        margin: 5px;
        text-align: center;
    }
}
