@import 'fonts';

.title {
  display: flex;
  align-items: center;
  height: 150px;
  margin-left: 25px;
  width: 100%;

  .title-text{
    font-size: $text-big;
    position: relative;
    right: 30px;
  }
}