@import '../../../../../scss/colors';

.navBar {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  background: linear-gradient($blue, $black);
  .title{
    margin-top: 40px;
    color: $black;
    font-size: 35px;
  }
  .user {
    color: $white;
    font-weight: bold;
  }
}

.buttonLogOut {
  font-size: 15px;
  padding: 14px 40px;
  margin: 10px;
  color: $black;
}
